.header-nav-bar{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    display: block;
    border: gray solid 3px;
}

.header-nav-bar .logo{
    float: left;
}

.header-nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-nav-bar li{
    float: right;
}

.header-nav-bar li a {
    display: inline-block;
    text-align: center;
}

.disabled-link{
    border: black solid 3px;
    display: block;
    padding: 8px;
    background-color: rgb(197, 0, 0);
}

.disabled-link:hover{
    background-color: rgb(4, 0, 235);
}

/* This is the paragraph tag inside localnewsbtn */
.header-nav-bar li .Local_news_hidden{
    display: inline-block;
    text-align: center;
    margin-bottom: auto;
}

.header-nav-bar li a:hover {
    background-color: rgb(4, 0, 235);
}

.header-nav-bar .sweet-loading{
    display: inline-block;
    margin: 0 auto;
}

.header-nav-bar a{
    border: black solid 3px;
    display: block;
    padding: 8px;
    background-color: rgb(197, 0, 0);
}