.title {
	font-size: 80px;
	margin-bottom: 30px;
}

.NewsContainer {
    margin-top: 20px;
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.664)!important;
}

.NewsContainer .flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex .NewsCard {
    margin: 30px;
    padding: 15px;
	width: 500px;
	height: auto;
	border-radius: 10px;
	/* border: solid red 2px; */
    text-align: center;
    background-color: white;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

header {
    width: 100%;
    height: auto;
}

/*in local news this is named different */
.NewsCard .img-responsive {
    width: 100%;
    height: auto;
}

.card-header a {
    float: right;
}

.card-header h4 {
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
    margin-left: 40px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    color: black!important;
    border: black solid 1px!important;
    /* -webkit-box-shadow: 4px 6px 39px 27px rgba(168,168,168,0.64)!important;
    -moz-box-shadow: 4px 6px 39px 27px rgba(168,168,168,0.64)!important;
    box-shadow: 4px 6px 39px 27px rgba(168,168,168,0.64)!important;   */
}

.card-body {
    display: inline-block;
    border: black solid 1px!important;
    background-color: white;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 2.2px 2.2px rgba(0, 0, 0, 0.048), 0 5.5px 5px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.img_caption p{
    display: inline-block;
    vertical-align: top;
    border: none!important;
}

.img_caption p.author{
    float: left;
}

.img_caption p.published_data{
    float: right;
}
img {
    /* border: rgb(255, 1, 162) solid 2px; */
}
.card-body h2 {
    text-align: center;

}
