.weathercontainer{
    /* background:rgba(117, 166, 221, 0.794); 
    width: auto;
    margin-top: 7%; */
    width: auto;
    animation-duration: 1.5s;
    animation-name: expand_weather;
    animation-fill-mode: forwards;
}

@keyframes expand_weather {
    from {
        opacity: 0%;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
    } to {
        opacity: 100%;
        margin-top: 7%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.weathercontainerHidden{
    height: 0px;
    width: auto;
    overflow: hidden;
    animation-duration: 1.5s;
    animation-name: hide_weather;
    animation-fill-mode: forwards;
}

/* @keyframes hide_weather {
    from {
        opacity: 100%;
        margin-top: 7%;
        margin-left: 5%;
        margin-right: 5%;
    } to {
        opacity: 0%;
        height: 0px;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }
} */






.weathercontainer .justify-content-center .col-sm-2{
    border: black solid 3px!important;
    /* margin-left: 1px!important;
    max-height: 5%!important;
    max-width: 12%!important; */
}

.weathercontainer .justify-content-center .col .card{
    padding-top: 10px!important;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.weathercontainer .justify-content-center .col .card-body{
    border: white solid 3px!important;
    /* padding-left: 30px;
    padding-right: 30px; */
}